@import "tailwindcss";
@import "./assets/styles/header.css";
@import "./assets/styles/products.css";
@import "./assets/styles/buttons.css";
@import "./assets/styles/userInfo.css";
@import "./assets/styles/admin.css";

@theme {
    --color-primary: #343A40;
    --color-secondary: #D4AF37;
    --color-accent: #800020;
}

.flex-center {
    @apply flex justify-center items-center;
}




